<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2>アカウントを作成</h2>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row sign-field">
    <div class="col text-center">
      <div class="field">
        <!--%= f.label :name ,"なまえ"%><br />-->
        <%= f.text_field :name, autofocus: true,placeholder:"ユーザ名" %>
      </div>
    </div>
  </div>
    <div class="row sign-field">
      <div class="col text-center">
        <div class="field">
          <!--%= f.label :email %><br />-->
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"メールアドレス" %>
        </div>
      </div>
    </div>
    <div class="row sign-field">
      <div class="col text-center">
        <div class="field">
          <!--%= f.label :password %>-->
          <!--% if @minimum_password_length %>-->
          <!--<em>(%= @minimum_password_length %> characters minimum)</em>-->
          <!--% end %><br />-->
          <%= f.password_field :password, autocomplete: "new-password",placeholder:"パスワード（６文字以上）"  %>
        </div>
      </div>
    </div>
    <div class="row sign-field">
      <div class="col text-center">
        <div class="field">
          <!--%= f.label :password_confirmation %><br />-->
          <%= f.password_field :password_confirmation, autocomplete: "new-password" ,placeholder:"パスワード再入力" %>
        </div>
      </div>
    </div>
    <div class="row sign-field">
      <div class="col text-center">
        <div class="actions">
          <%= f.submit "新規登録" ,class:"btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row sign-field">
    <div class="col text-center">
      <!--%= render "devise/shared/links" %>-->
      登録済みユーザは<%= link_to "ここ", new_user_session_path, class:"no-underline" %>からログイン
    </div>
  </div>


