<div class="container">
    <h1 class="text-center">おすすめ書籍一覧</h1>

    <div class="text-center p-5">
        <%= link_to "書籍新規登録" ,new_recommend_path ,class:"btn btn-success" %>
    </div>
    <div class="search-form inline-block">
        <p>おすすめ書籍内から検索</p>
          <%= form_with url: search_path, method: :get, local: true do |f| %>
            <%= f.text_field :keyword, value: @keyword ,placeholder:"タイトル検索" %>
            <%= f.submit "検索" %>
          <% end %>
    </div>

    <div class="search-form inline-block">
        <p>楽天市場で検索</p>
        <%= form_tag :rakuten_search, method: :get do  %>
          <%= text_field_tag 'keyword', params[:keyword],placeholder:"タイトル検索" %>
          <%= submit_tag "検索" %>
        <% end %>
    </div>

    <table>
        <tr>
            <th class="recommend-title">タイトル</th>
            <th class="recommend-outher">著者</th>
            <th class="recommend-publisher">出版社</th>
            <th class="recommend-comment">コメント</th>
            <th class="recommend-user">投稿者</th>
            <th class="recommend-favorite"></th>
        </tr>
        <% @recommends.each do |recommend| %>
        <tr>
            <td>
                <%= link_to recommend.title,recommend_path(recommend.id), class:"no-underline" %>
            </td>
            <td>
                <%= recommend.outher %>
            </td>
            <td>
                <%= recommend.publisher %>
            </td>
            <td>
                <%= recommend.body %>
            </td>
            <td>
                <%= recommend.user.name %>
            </td>
            <td>
                <i class="fas fa-heart favorite"></i><span class="favorite"><%= recommend.favorites.count %>
            </td>
        </tr>
        <% end %>
        <%= paginate @recommends %>
    </table>
</div>




