<h1>おすすめ書籍一覧画面</h1>

<div class="search-form">
    <p>おすすめ書籍内から検索</p>
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword ,placeholder:"キーワードを入力"%>
    <%= f.submit "検索" %>
  <% end %>
</div>
<div class="recommend-list">
  <% @recommends.each do |recommend| %>
    <%= recommend.title %>
  <% end %>
</div>


<table>
    <tr>
        <th>タイトル</th>
        <th>著者</th>
        <th>出版社</th>
        <th>コメント</th>
        <th>投稿者</th>
    </tr>
    <% @recommends.each do |recommend| %>
    <tr>
        <td>
            <%= link_to recommend.title,recommend_path(recommend.id) %>
        </td>
        <td>
            <%= recommend.outher %>
        </td>
        <td>
            <%= recommend.publisher %>
        </td>
        <td>
            <%= recommend.body %>
        </td>
        <td>
            <%= recommend.user.name %>
        </td>

    </tr>
    <% end %>
</table>





