<h1>おすすめ書籍詳細画面</h1>
<%= @recommend.title %>
<%= @recommend.outher %>
<%= @recommend.publisher %>
<%= @recommend.body %>
<% if @recommend.user == current_user %>
<%= link_to "編集する",edit_recommend_path(@recommend.id) %>
<%= link_to "削除する",recommend_path(@recommend.id),method: :delete,"data-confirm"=>"削除しますか？" %>
<% end %>

<% if @recommend.favorited_by?(current_user) %>
    <p>
     <%= link_to recommend_favorites_path(@recommend) ,method: :delete do %>
     ♥<%= @recommend.favorites.count %> いいね
     <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to recommend_favorites_path(@recommend), method: :post do %>
        ♡<%= @recommend.favorites.count %> いいね
      <% end %>
    </p>
<% end %>


<%= form_with(model:[@recommend, @recommend_comment], method: :post,local: true) do |f| %>
<p>コメント
  <%= f.text_field :recommend_comment %>
</p>
  <%= f.submit"コメントする" %>
<% end %>

<div class="comments">
<p>コメント件数：<%= @recommend.recommend_comments.count %></p>
<% @recommend.recommend_comments.each do |recommend_comment| %>
  <%= recommend_comment.user.name %>
  <%= recommend_comment.created_at.strftime('%Y/%m/%d') %><%= recommend_comment.recommend_comment %>
  <% if recommend_comment.user == current_user %>
  <%= link_to"コメントを削除する", recommend_recommend_comment_path(recommend_comment.id),method: :delete,"data-confirm"=>"コメントを削除しますか？"%>
  <% end %>
<% end %>
</div>