<h1>勉強時間登録画面</h1>
<p>最終的にはこのページ無くしてマイページから直接時間登録できるようにしたい</p>
<%= form_with model:@study_time , url:"/study_times", local:true do |f| %>
<%= f.text_field :hour %>時間<%= f.text_field :min %>分
<div>コメント
    <%= f.text_field :comment %>
</div>
<%= f.submit"登録する" %>
<% end %>
