<h1>勉強時間一覧画面</h1>
<h2>今日は<%= @total_min %>時間勉強しました</h2>
<h2>今週は時間勉強しました</h2>
<% @study_times.each do |studey_time| %>
<%= studey_time.year %>年
<%= studey_time.month %>月
<%= studey_time.date %>日
<%= (studey_time.min/60.0).floor(1) %>時間
<div>コメント
    <%= studey_time.comment %>
</div>
<% if @user == current_user %>
<div>
    <%= link_to "編集する",edit_study_time_path(studey_time.id) %>
    <%= link_to "削除する",study_time_path(studey_time.id),method: :delete %>
</div>
<% end %>

<% end %>

<!--% @hour.each do |day , hour | %>-->
<!--<p>勉強時間一覧</p>-->
<!--%= hour*60 %>-->
<!--% end %>-->

